<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAccessorySetupBluetoothCompanyIdentifiers</key>
	<array>
		<string>ABCDEF01-1234-5678-1234-56789ABCDEF1</string>
	</array>
	<key>NSAccessorySetupBluetoothServices</key>
	<array>
		<string>12345678-1234-5678-1234-56789ABCDEF0</string>
		<string>4FAFC201-1FB5-459E-8FCC-C5C9C331914B</string>
	</array>
	<key>NSAccessorySetupKitSupports</key>
	<array>
		<string>Bluetooth</string>
	</array>
</dict>
</plist>
