<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAccessorySetupBluetoothCompanyIdentifiers</key>
	<array>
		<string>F83317EA-84F8-475E-9D60-920BF2225C2D</string>
		<string>2E0BDAC2-C1FF-4C6C-83C6-B5DC11D0D3F2</string>
	</array>
	<key>NSAccessorySetupBluetoothServices</key>
	<array>
		<string>8ABD86E9-E32C-4784-92BC-3AA99666C544</string>
	</array>
	<key>NSAccessorySetupKitSupports</key>
	<array>
		<string>Bluetooth</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
</dict>
</plist>
